body {
font-family: Arial, Helvetica, sans-serif;
background-color: #add8e6;
color: #000000;
line-height: 1.6;
}
    /*RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /*box model*/
header {
    background-color: #add8e6;

    padding: 20PX;
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
}

    /*menu*/
nav{
    margin-top: 10px;
}

nav button {
    text-align: center;
    padding: 8px 15px;
    margin: 10px;
    border: 1px solid #000000;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    
}

/* seções */
section {
    background-color: #ffffff;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5%;
}

/* titulos */
h2 {
    text-align: center;
    margin-bottom: 10px;
}

/* paragrafos */
p {
    text-align: center;
    margin-bottom: 10px;
}

/* artigos */
article {
    border: 1px solid #000;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
}

/* lista */
ul {
    list-style-position: inside;
}

/* rodapé */
footer {
    background-color: #add8e6;
    text-align: center;

    /* box model */
    padding: 15px;
    margin-top: 20px;
    border-top: 1px solid #000;
    border-radius: 5px;
}
